@model IEnumerable<SelfOrg.Models.Post>

@{
    ViewData["Title"] = "Главная";
}
<h2>Главная страница</h2>
<hr />
<p>
    <a asp-action="Create">Новый пост</a>
</p>
<h3>Последние посты</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostDescr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PostName)
                </td>
                <td>
                    @Html.Raw(@item.PostDescr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostDate)
                </td>
                <td>
                    <a asp-controller="Posts" asp-action="Sorting" asp-route-id="@item.Category.CategoryId">@item.Category.CatName</a>

                </td>
                <td>
                   <a asp-action="user" asp-route-id="@item.User.UserName">@item.User.displayedname</a>
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.PostID">Edit</a> |*@
                    <a asp-controller="Comments" asp-action="viewpost" asp-route-id="@item.PostID">Читать полностью</a> 
                    @*<a asp-action="Delete" asp-route-id="@item.PostID">Delete</a>*@
                </td>
            </tr>

        }
    </tbody>
</table>
